.header-slide {
	.item {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 500px;
	}

	.slide {
		margin-bottom: -5px;
	}
}

.header-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
}
