@media screen and (min-width: 992px) {
	._pd_r_0 {
		padding-right: 0;
	}

	._pd_l_0 {
		padding-left: 0;
	}


	._pd_0_pc {
		padding: 0;
	}

}

._pd_0 {
	padding: 0;
}

.img-center {
	margin: 0 auto;
}




//-- START :: Font Style
._upperCase {
	text-transform: uppercase !important;
}

._italic {
	font-style: italic !important;
}

//-- END ::  Font Style
