@mixin transition($time: 0.2) {
    -moz-transition: all $time + s ease-in;
    -o-transition: all $time + s ease-in;
    -webkit-transition: all $time + s ease-in;
    transition: all $time + s ease-in;
}

